<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/earnings.css">
        <script src="/js/earnings.js"></script>
    </head>
    <body>
        <%- include('templates/header.ejs') %>
        <section class="main-content">
            <h1>Earnings</h1>
            <p>See all your earnings</p>
            <form action="/earnings" method="POST">
            <select name="gigs" onchange="this.form.submit()">
            <option value="">Select a gig</option>
            <% Object.keys(gigsByCatagory).forEach(function(category) { %>
                <hr />
                <optgroup label="<%= category %>">
                <% gigsByCatagory[category].forEach(function(gig) { %>
                    <option value="<%= gig.name %>" <%= gigToShow === gig.name ? 'selected' : '' %>> <%= gig.name %></option>
                <% }); %>
                </optgroup>
                <hr />
            <% }); %>
            </select>
        </form>
        </section>
        <%- include('templates/footer.ejs') %>
    </body>
</html>
